<template>
  <section>
    <p>HOLA DESDE INDEX</p>
    <p>
      <v-btn color="primary" @click="irUsuarios"
        >Ir a la pantalla de usuarios</v-btn
      >
    </p>
  </section>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    irUsuarios() {
      console.log(this.$router);
      this.$router.push({
        name: "usuarios",
        params: { numeroUno: 90, numeroDos: 20 },
      });
      // this.$router.replace("/usuarios");
    },
  },
};
</script>