<template>
  <section>
    <v-text-field label="Usuario" v-model="usuario.usuario"></v-text-field>

    <v-text-field
      label="Contraseña"
      v-model="usuario.contrasena"
    ></v-text-field>

    <v-btn color="primary" @click="login">Login</v-btn>
    {{ contador }}
  </section>
</template>
<script>
export default {
  data() {
    return {
      contador: null,
      usuario: {
        usuario: "",
        contrasena: "",
      },
    };
  },
  mounted() {
    this.contador = this.$store.state.contador;
  },
  methods: {
    login() {
      localStorage.setItem("token", "123456789-987654321");
      this.$store.commit("guardarUsuario", this.usuario);
      this.$router.push({
        name: "menus",
      });
    },
  },
};
</script>