<template>
  <section>
    <p>HOLA DESDE MENUS</p>
    <p>{{ contador }}</p>
    <p>
      <v-btn color="success" @click="incrementarContador"
        >INCREMENTAR CONTADOR</v-btn
      >
    </p>
    <p>{{ usuario }}</p>
  </section>
</template>
<script>
import { mapState } from "vuex";

export default {
  data() {
    return {};
  },
  mounted() {},
  methods: {
    incrementarContador() {
      this.$store.commit("incrementarStateContador", 5);
    },
  },
  computed: {
    ...mapState(["contador", "usuario"]),
  },
};
</script>