<template>
  <section>
    <p class="pt-6 text-h6">Gestión de tareas</p>
    <v-dialog v-model="dialogConfirmacion" persistent max-width="500">
      <v-card>
        <v-card-title class="text-h5">
          Esta seguro de eliminar el registro?
        </v-card-title>
        <v-card-text>La eliminacion de tareas, no es reversible.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialogConfirmacion = false"
          >
            CANCELAR
          </v-btn>
          <v-btn color="green darken-1" text @click="eliminarTarea">
            ACEPTAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col md="4">
        <v-card class="pa-2">
          <p class="text-h6">
            {{ tarea.id || tarea.id === 0 ? "Editar" : "Crear" }} tarea
          </p>
          <v-text-field
            label="Titulo"
            outlined
            v-model="tarea.titulo"
          ></v-text-field>
          <v-select
            :items="estados"
            label="Estado"
            outlined
            v-model="tarea.estado"
          ></v-select>
          <v-textarea
            outlined
            label="Descripcion"
            v-model="tarea.descripcion"
          ></v-textarea>
          <v-btn color="success" @click="guardarTarea">Guardar TAREA</v-btn>
        </v-card>
      </v-col>
      <v-col md="8">
        <v-card class="pa-2">
          <v-list two-line>
            <v-list-item-group
              v-model="selected"
              active-class="primary--text"
              multiple
            >
              <template v-for="(item, index) in items">
                <v-list-item :key="item.title">
                  <template v-slot:default>
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="item.titulo"
                      ></v-list-item-title>

                      <v-list-item-subtitle
                        class="text--primary"
                        v-text="item.headline"
                      ></v-list-item-subtitle>

                      <v-list-item-subtitle
                        v-text="item.descripcion"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <p>
                        <Estado :estado="item.estado"></Estado>
                        <v-btn
                          class="mx-2"
                          fab
                          dark
                          x-small
                          color="warning"
                          @click="editarTarea(index)"
                        >
                          <v-icon dark> mdi-pencil </v-icon>
                        </v-btn>
                        <v-btn
                          class="mx-2"
                          fab
                          dark
                          x-small
                          color="error"
                          @click="modalEliminar(index)"
                        >
                          <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                      </p>
                    </v-list-item-action>
                  </template>
                </v-list-item>

                <v-divider
                  v-if="index < items.length - 1"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>
<script>
import Estado from "../components/Estado";
export default {
  components: {
    Estado,
  },
  data() {
    return {
      dialogConfirmacion: false,
      tarea: {
        titulo: "",
        descripcion: "",
        estado: "",
      },
      estados: ["CREADO", "EN PROGRESO", "RECHAZADO", "COMPLETADO"],
      selected: [2],
      items: [],
      indexEliminar: null,
    };
  },
  mounted() {
    const _existeListado = localStorage.getItem("listaTareas");
    this.items = _existeListado ? JSON.parse(_existeListado) : [];
  },
  methods: {
    modalEliminar(index) {
      this.indexEliminar = index;
      this.dialogConfirmacion = true;
    },
    editarTarea(index) {
      this.tarea = { ...this.items[index] };
    },
    resetForm() {
      this.tarea = {
        titulo: "",
        descripcion: "",
        estado: "",
      };
    },
    guardarTarea() {
      if (this.tarea.id || this.tarea.id === 0) {
        this.items[this.tarea.id] = { ...this.tarea };
      } else {
        this.items.push({ ...this.tarea, id: this.items.length });
      }
      localStorage.setItem("listaTareas", JSON.stringify(this.items));
      this.resetForm();
    },
    eliminarTarea() {
      if (this.indexEliminar || this.indexEliminar === 0) {
        this.items.splice(this.indexEliminar, 1);
        this.indexEliminar = null;
      }
      localStorage.setItem("listaTareas", JSON.stringify(this.items));
      this.dialogConfirmacion = false;
      console.log("DESDE ELIMINAR");
    },
  },
};
</script>