<template>
  <section>
    <p>
      <v-btn color="info" @click="volver">VOLVER</v-btn>
    </p>
    <p>HOLA DESDE USUARIOS</p>
    <p>{{ numeroUno }} {{ numeroDos }}</p>
    <p>SUMA: {{ suma }}</p>
    <p>RESTA: {{ resta }}</p>
    <p>MULTIPLICACION: {{ multiplicacion }}</p>
    <p>DIVISION: {{ division }}</p>
  </section>
</template>
<script>
export default {
  data() {
    return {
      numeroUno: 0,
      numeroDos: 0,
      suma: 0,
      resta: 0,
      multiplicacion: 0,
      division: 0,
    };
  },
  mounted() {
    console.log(this.$route.params);
    const { numeroUno, numeroDos } = this.$route.params;
    this.numeroUno = parseInt(numeroUno);
    this.numeroDos = parseInt(numeroDos);

    this.suma = this.numeroUno + this.numeroDos;
    this.resta = this.numeroUno - this.numeroDos;
    this.multiplicacion = this.numeroUno * this.numeroDos;
    this.division = this.numeroUno / this.numeroDos;
  },
  methods: {
    volver() {
      this.$router.go(-1);
    },
  },
};
</script>