<template>
  <span>
    <v-chip
      v-if="estado === 'CREADO'"
      class="ma-2"
      color="primary"
      label
      text-color="white"
    >
      CREADO
    </v-chip>

    <v-chip
      v-if="estado === 'EN PROGRESO'"
      class="ma-2"
      color="warning"
      label
      text-color="white"
    >
      EN PROGRESO
    </v-chip>

    <v-chip
      v-if="estado === 'RECHAZADO'"
      class="ma-2"
      color="error"
      label
      text-color="white"
    >
      RECHAZADO
    </v-chip>

    <v-chip
      v-if="estado === 'COMPLETADO'"
      class="ma-2"
      color="success"
      label
      text-color="white"
    >
      COMPLETADO
    </v-chip>
  </span>
</template>
<script>
export default {
  props: {
    estado: {
      type: String,
      default: "",
    },
  },
};
</script>