<template>
  <section>
    <v-text-field label="Nombres" v-model="personaComputed.nombres">
    </v-text-field>
    <v-text-field
      label="Apellido paterno"
      v-model="personaComputed.apellidoPaterno"
    ></v-text-field>
    <v-text-field
      label="Apellido materno"
      v-model="personaComputed.apellidoMaterno"
    ></v-text-field>
    <v-select
      :items="tiposDocumento"
      label="Tipo de documento"
      v-model="personaComputed.tipoDocumento"
    ></v-select>
    <v-text-field
      label="Numero de documento"
      v-model="personaComputed.numeroDocumento"
    ></v-text-field>
    <slot name="botones"></slot>
  </section>
</template>
<script>
export default {
  props: {
    persona: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {},
  data() {
    return {
      tiposDocumento: ["Carnet de identidad", "Carnet de Extranjeria", "NIT"],
    };
  },
  computed: {
    personaComputed: {
      get() {
        return this.persona;
      },
      set(value) {
        this.$emit("update:persona", value);
      },
    },
  },
};
</script>