<template>
  <section>
    <slot
      name="header"
      :opciones="{ titulo: 'Este es un titulo.' }"
      :nombre="'Ivan'"
      :variableNombre="nombre"
      :imprimir="imprimir"
    ></slot>
    <p class="text-h4 text-center">FORMULARIO</p>
    <slot name="botones"></slot>
  </section>
</template>
<script>
export default {
  data() {
    return {
      nombre: "Marcelo",
    };
  },
  methods: {
    imprimir(nombre) {
      this.nombre = nombre;
      console.log("DESDE IMPRESION.");
    },
  },
};
</script>