<template>
  <section>
    {{ nombreCompleto }}
  </section>
</template>
<script>
export default {
  data () {
    return {
      nombreCompleto: ''
    }
  },
  mounted () {
    this.nombreCompleto = 'Ivan Tancara Casilla';
    console.log('DESDE COMPONENTE NOMBRE COMPLETO.');
  }
}
</script>