<template>
  <section>
    <p>
      {{ nombreComputed }} - {{ edadComputed }}
    </p>
   
    <button @click="nuevoNombre">Nuevos valores</button>
  </section>
</template>
<script>
export default {
  props: {
    nombre: {
      type: String,
      default: ''
    },
    edad: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
    }
  },
  methods: {
    nuevoNombre () {
      this.nombreComputed = 'NUEVO NOMBRE'
      this.edadComputed = 28
    }
  },
  computed: {
    nombreComputed: {
      get () {
        return this.nombre
      },
      set (newValue) {
        this.$emit(`update:nombre`, newValue)
      }
    },
    edadComputed: {
      get () {
        return this.edad
      },
      set (newValue) {
        this.$emit(`update:edad`, newValue)
      }
    }
  }
}
</script>