<template>
  <section>
    <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        {{ hijo.label }}
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <Nieto v-for="(nieto, index) of hijo.nodos" :key="index" :nieto="nieto"></Nieto>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </section>
</template>
<script>
import Nieto from './Nieto'
export default {
  components: {
    Nieto
  },
  props: {
    hijo: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {}
  }
}
</script>