<template>
  <section>
     <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        {{ nieto.label }}
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </section>
</template>
<script>

export default {
  props: {
    nieto: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {}
  }
}
</script>