<template>
  <section>
    <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        {{ padre.label }}
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <Hijo v-for="(hijo, index) of padre.nodos" :key="index" :hijo="hijo" ></Hijo>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </section>
</template>

<script>
import Hijo from './Hijo'

export default {
  components: { Hijo },
  props: {
    padre: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {

    }
  }
}
</script>
